### ProfileService Maven ###
/ProfileService/target/
/ProfileService/!.mvn/wrapper/maven-wrapper.jar

### AddressService Maven ###
/AddressService/target/
/AddressService/!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Log Fájlok ###
*.log